<script>
  if (document.location.pathname.endsWith("data.html")) {
    document.location.href="/#data";
  }
</script>
<!-- Masthead-->
<header class="masthead shortmasthead">
  <div class="container h-25">
    <div class="col-lg-10 align-self-end">
      <h1 class="text-uppercase text-white font-weight-bold" data-i18n="[html]data_main_heading">Data</h1>
    </div>
  </div>
  </div>
</header>
<!-- Data section-->
<section class="page-section" id="data">
  <div class="container text-white">
    <h2 class="text-center text-primary mt-0" data-i18n="[html]data_main_heading">Data Management</h2>
    <hr class="divider my-4"/>
    <div class="row">
      <h4 class="col-lg-12 text-center text-white mt-2" data-i18n="[html]data_intro_heading">Introduction</h4>
      <br/>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div data-i18n="[html]data_intro_text1">This project was created by a group of volunteers to help contain coronavirus spread by providing recommendations to governments and health agencies and by providing the general public with a tool that helps them change their behavior to minimize their risk of contracting and transmitting the coronavirus. To produce tool users’ risk estimates and safety estimates, the tool presents the tool users with a number of questions, the so-called Risk Estimate Questions (REQs). To enable improving our tool over time, tool users are asked whether they want to contribute to those improvements by answering a self-chosen number of additional questions. If tool users want to contribute, they are presented with a random subset of additional questions, the so-called Determinant Mapping Questions (DMQs).</div>
      </div>
    </div>
    <br/>
    <br/>
    <div class="row">
      <h4 class="col-lg-12 text-center text-white mt-2" data-i18n="[html]data_anonymity_heading">Anonymity</h4>
      <br/>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div data-i18n="[html]data_anonymity_text1">When designing the tool, we ensured that the answers tool users provide do not allow identification of the tool users by carefully vetting which questions we asked and by ensuring that the granularity of the answer options was sufficiently rough. For example, we measure age in decades, not in years. As a result, the answers we store are completely anonymous: we do not collect any personal data.</div>
      </div>
    </div>
    <br/>
    <br/>
    <div class="row">
      <h4 class="col-lg-12 text-center text-white mt-2" data-i18n="[html]data_open_heading">(Semi-Born) Open Data</h4>
      <br/>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div data-i18n="[html]data_open_text1">Our aim (to help contain coronavirus spread) is best served by making these anonymous data public. Therefore, we will regularly publish the dataset collected in this project in the public domain. This means that everybody is free to use the data without asking our permission.</div>
      </div>
    </div>
    <br/>
    <br/>
    <div class="row">
      <h4 class="col-lg-12 text-center text-white mt-2" data-i18n="[html]data_fair_heading">FAIR data</h4>
      <br/>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div data-i18n="[html]data_fair_text1">The data are collected using the Free/Libre Open Source Software (FLOSS) suite LimeSurvey, hosted by LimeSurvey GmbH in Hamburg. The anonymous data will be downloaded to the local computer of one of the project leads (Gjalt-Jorn Peters) and uploaded using Git to this project’s repository. Specifically, a comma separated values file will be downloaded and published, as well as the R script LimeSurvey generates that can be used to import the data. To identify which sub-determinants are important to address in future versions of our tool, we will use an R Markdown analysis script that is also available in our Git repository. Our Git repository is linked to the Open Science Framework, one of the main Open Science data repositories.</div>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div data-i18n="[html]data_fair_text2">Because we only use FLOSS software, our data are accessible, and because we use well-defined formats, they are to a degree natively interoperable, and that interoperability can easily be extended. Because we post the data under a CC0 license, they are reusable, and our data are findable through the Open Science Framework. In the future, we aim to leverage the codebook R package to add metadata, further improving the FAIRness of the data.</div>
      </div>
    </div>
    <br/>
    <br/>
    <div class="row">
      <h4 class="col-lg-12 text-center text-white mt-2" data-i18n="[html]data_access_heading">Accessing the data</h4>
      <br/>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div data-i18n="[html]data_access_text1">Our Git repository is hosted by GitLab at <a href="https://gitlab.com/a-bc/your-covid-19-risk" target="_blank">https://gitlab.com/a-bc/your-covid-19-risk</a>, and the relevant files in this project can be found in the following directories:</div>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div data-i18n="[html]data_access_text2"><ul><li>The data: <pre>v1/data</pre></li><li>The analysis scripts: <pre>v1/scripts</pre></li></ul></div>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div data-i18n="[html]data_access_text3">In addition, we have a rendered version of our analysis script available at <a href="https://your-risk.com/v1-results" target="_blank">https://your-risk.com/v1-results</a>.</div>
      </div>
    </div>
  </div>
</section>