<script>
  if (document.location.pathname.endsWith("disclaimer.html")) {
    document.location.href="/#disclaimer";
  }
</script>
<!-- Masthead-->
<header class="masthead shortmasthead">
  <div class="container h-25">
    <div class="col-lg-10 align-self-end">
      <h1 class="text-uppercase text-white font-weight-bold" data-i18n="[html]disclaimer_main_header">Terms of use of this website and the contents thereof</h1>
    </div>
  </div>
  </div>
</header>
<!-- Disclaimer section-->
<section class="page-section" id="theory">
  <div class="container">
    <h2 class="text-primary mt-0" data-i18n="[html]disclaimer_terms_heading">The following terms of use apply to your use of this website and its contents.</h2>
    <hr class="divider my-4"/>
    <div class="row">
      <div class="col-lg-12 col-md-12 mb-0">
        <p data-i18n="[html]disclaimer_terms_text1">This website is created under the editorship of an international collective of volunteer health scientists and social scientists. On this site you will find the generally applicable explanations and advice that are in line with international scientific guidelines. All information placed on the site has been written / made with great care. Various medical scientists and other healthcare professionals have been involved in this. We regularly check and update the content of the site. However, mistakes or inconsistencies cannot always be prevented.</p>
        <br/>
        <p data-i18n="[html]disclaimer_terms_text2">Therefore, you acknowledge and agree that the following warnings and disclaimers shall apply to all of the content on this site, and all related communications and all use thereof.</p>
        <br/>
        <ul>
          <li data-i18n="[html]disclaimer_terms_bullet1">Intended use of this website. This website is intended to be a means of communication, which uses persuasive texts to make the visitor more aware of the risks they run in contracting and/or spreading the Severe Acute Respiratory Syndrome Coronavirus 2 (SARS-CoV-2). You as the visitor of this website can use this website to become more aware of the general scientific consensus about these risks and of behavioural measures that have been proposed by experts and regulatory bodies. You understand that, in order to provide you with advice, this website does not perform actions on data other than reflecting the results of a simple search.</li>
          <li data-i18n="[html]disclaimer_terms_bullet2">When reading, keep in mind that your health situation may be different than described in the texts. We are not, nor are we holding ourselves out to be your doctor/physician, nurse, physician’s assistant, or any other medical professional (“Medical Provider”). We are not, nor are we holding ourselves to be your psychologist, psychiatrist, psychotherapist, or social worker (“Mental Health Provider”).</li>
          <li data-i18n="[html]disclaimer_terms_bullet3">Consequently, the information on this website is not to be perceived as or relied upon in any way as medical advice or mental health advice, nor is it meant to be a substitute for professional medical advice, diagnosis or treatment that can be provided by your own general practitioner, physician, nurse practitioner, physician assistant, therapist, counselor, mental health practitioner, licensed dietitian or nutritionist, or any other licensed or registered health care professional.</li>
          <li data-i18n="[html]disclaimer_terms_bullet4">Do not use our content in lieu of professional advice given by qualified medical professionals and do not disregard professional medical advice or delay seeking professional advice because of information you have read on our website, or received from us. If you have specific questions or concerns, especially about your health status or symptoms, we recommend that you consult with a general practitioner / physician or other medical and mental health provider before participating in any of our website recommendations.</li>
          <li data-i18n="[html]disclaimer_terms_bullet5">We reserve the right to change these provisions at any time. No rights can be derived from the information on this site.</li>
        </ul>
        <p data-i18n="[html]disclaimer_terms_text3">Please expressly note that we do not accept any liability for any damages or consequences arising from the direct or indirect use of the published information. You acknowledge that you are participating voluntarily in using this website and that you are solely and personally responsible for your choices, actions, and results, now and in the future.</p>
        <br/>
        <p data-i18n="[html]disclaimer_terms_text4">This website contains references and/or hyperlinks to other websites that are not controlled by us. Those websites are selected by us in good faith and for information purposes for the users of its website. We do not provide any warranty nor do we accept any liability with respect to the content, the use or the availability of such websites.</p>
        <br/>
        <p data-i18n="[html]disclaimer_terms_text5">You accept full responsibility for the consequences of your use, or non-use, of any information provided on or through this website, and you agree to use your own judgment and due diligence before implementing any idea, suggestion or recommendation from our website to your life, family or business.</p>
        <br/>
      </div>
    </div>
  </div>
</section>
<!-- IP section-->
<section class="page-section bg-white text-secondary" id="ip">
  <div class="container">
    <h2 class="text-center mt-0" data-i18n="[html]disclaimer_ip_heading">Intellectual Property</h2>
    <hr class="divider my-4"/>
    <div class="row">
      <div class="col-lg-12 col-md-12 mb-0">
        <p data-i18n="[html]disclaimer_ip_text1">The authors own all intellectual property rights in the texts, except where reference is made to other sources or websites, and except where content is placed under creative commons licenses. If you want to link to (part of) this website from your website, you do not have to ask permission. Use of https://your-covid-19-risk.com information elsewhere is only permitted after approval by the authors. All intellectual property rights to the images are vested in the authors and / or its licensors, except where creative commons licenses have been granted. Use of the images is only permitted for private purposes, except where creative commons licenses have been granted. In that case, the terms of the respective creative commons license apply. You are not allowed to make public and / or reproduce the images otherwise.</p>
      </div>
    </div>
  </div>
</section>
<!-- Cookies section-->
<section class="page-section" id="cookies">
  <div class="container">
    <h2 class="text-center text-primary mt-0" data-i18n="[html]disclaimer_cookies_heading">Cookies</h2>
    <hr class="divider my-4"/>
    <div class="row">
      <div class="col-lg-12 col-md-12 mb-0">
        <p data-i18n="[html]disclaimer_cookies_text1">This website uses Google Analytics, a web analysis service provided by Google Inc. (“Google”). Google Analytics uses "cookies" (text files placed on your computer) to help the website analyze how users use the site. This program provides important statistics about the number of visitors, the pages visited, the traffic sources and other essential information with which we can continuously improve this website for the users. These statistics are anonymous and cannot be traced back to a specific person or user. No so-called "behavioural targeting" is used, with which you will see special content based on your click behaviour. Your surfing behavior remains completely anonymous. In addition, our Google Analytics has also set up IP addresses so that data can never be traced back to your IP address. Furthermore, our Analytics account is set up so that the information may not be shared with others. This makes our Center Analytics cookie a non-privacy sensitive functional cookie that is strictly necessary and essential for visitors, because it allows the quality of this website to be guaranteed. The Analytics cookie remains valid for 6 months.</p>
        <p data-i18n="[html]disclaimer_cookies_text2">The information generated by the cookie about your use of the website is transferred to and stored by Google on servers in the United States. Google uses this information to keep track of how you use this website, to compile reports on website activity for the owner of this website and to provide other services related to website activity and internet usage. Google may only provide this information to third parties if Google is legally obliged to do so, or insofar as these third parties process the information on behalf of Google. Google will not combine your IP address with other data that Google has. You can refuse the use of cookies by choosing the appropriate settings in your browser (via https://tools.google.com/dlpage/gaoptout). However, we would like to point out that in that case you may not be able to use all the features of this website. By using this website you consent to the processing of the information by Google in the manner and for the purposes described above.</p>
        <div class="row">
          <h4 class="col-lg-12 text-center mt-2" data-i18n="[html]disclaimer_cookies_subheading1">Other cookies</h4>
          <br/>
        </div>
        <p data-i18n="[html]disclaimer_cookies_text3">Under GDPR privacy legislation, functional and technical first-party cookies (for example to enable the questionnaire) are allowed without the user's consent, provided that the obligation to inform website visitors is complied with. This website uses such first-party cookies. First-party cookies are placed by the owner of the website and in most cases are important for the functioning of the website. In contrast, third party cookies are cookies that do not belong to the website owner, but to third parties, for example from advertisers or advertising platforms. These cookies are no longer allowed without your explicit prior permission. Consent is also required for first party cookies that store personal data and that are not strictly necessary for use. This website does not use third party cookies or unnecessary cookies on its website.</p>
      </div>
    </div>
  </div>
</section>