<script>
  if (document.location.pathname.endsWith("riskmodel.html")) {
    document.location.href="/#riskmodel";
  }
</script>
<!-- Masthead-->
<header class="masthead">
  <div class="container h-25">
    <div class="col-lg-10 align-self-end">
      <h1 class="text-uppercase text-white font-weight-bold" data-i18n="[html]risk_top_heading">Risk Model</h1>
    </div>
  </div>
  </div>
</header>
<!-- Model section-->
<section class="page-section" id="riskmodel">
  <div class="container">
    <h2 class="text-center text-primary mt-0" data-i18n="[html]risk_main_heading">The Risk Model</h2>
    <hr class="divider my-4"/>
	
    <div class="row">
      <h4 class="col-lg-12 text-center text-white mt-2" data-i18n="[html]risk_intro_heading">Introduction</h4>
      <br/>
    </div>
	
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <p data-i18n="[html]risk_intro_text1">The Risk Model was established in two expert consultations. The main goal of the first expert consultation was to determine the most important risk behaviors and risk factors. This was important because we wanted to provide tool users’ risk estimates based on as few questions as possible, and mostly focus on the most important behaviors as opposed to factors outside of tool users’ control. Once these factors were clear, in the second expert consultation, we determined the degree to which each risk behavior and risk factor contributed to the overall risk estimate.</p>
      </div>
    </div>
    <br/>

    <div class="row">
      <h4 class="col-lg-12 text-center text-white mt-2" data-i18n="[html]risk_expert1_heading">Expert Consultation 1</h4>
      <br/>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12">
        <p data-i18n="[html]risk_expert1_text1">Scientific papers on COVID-19 (k=110) were scanned to determine the kinds of risks that were associated with infection. The list of risks was firstly categorised into behaviour type for (1a) risk behaviours for contracting the virus (i.e,, hygiene related behaviours, social interaction related behaviours, transport and travel behaviours, health related behaviours, and (1b) risk behaviours for spreading the virus to others. Secondly, the list of risks was also categorised into other risk characteristics: (2a) other indicators of risk of contracting and spreading the virus (i.e., indicators related to profession, living situation) and (2b) other indicators of risk for developing severe conditions (i.e., general indicators, health status indicators).</p>
      </div>
    </div>
    <br/>

    <div class="row">
      <div class="col-lg-12 col-md-12">
        <p data-i18n="[html]risk_expert1_text2">The list of risk behaviours and risk characteristics were then presented to 10 virologists and epidemiologists to assess how important these factors were for spreading the virus. The results were collated and also ranked by specificity (i.e., how many people that would be affected e.g., travelling from a high risk place was highly risky but would only affect a small proportion of the population). A list of key behaviors and characteristics was identified. The results of these analyses are available at <a href="https://your-risk.com/v1-risk-estimation-survey-1-results" target="_blank">https://your-risk.com/v1-risk-estimation-survey-1-results</a>.</p>
      </div>
    </div>
    <br/>

    <div class="row">
      <h4 class="col-lg-12 text-center text-white mt-2" data-i18n="[html]risk_vignette_heading">Vignette study</h4>
      <br/>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12">
        <p data-i18n="[html]risk_vignette_text1">Vignettes were written spanning a range of nationalities and situations. The putative key behaviours and characteristics were formulated into risk estimate questions and were answered from the point of view of the person described in the vignettes to ensure they encompassed a range of situations. This was the case.</p>
      </div>
    </div>
    <br/>

    <div class="row">
      <h4 class="col-lg-12 text-center text-white mt-2" data-i18n="[html]risk_expert2_heading">Expert Consultation 2</h4>
      <br/>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12">
        <p data-i18n="[html]risk_expert2_text1">In the final tool, the answers to the questions about the key behaviours and risk factors needed to be equated to a level of risk. A category of risk was preferred over an absolute number which a tool cannot accurately provide (but which can still easily be interpreted as somehow accurate or objective). The risk categories were to start at “standard” as no-one is at low risk and had four categories in total. A survey was created to determine which level of risk (standard to exponential; 1, 2 or 4) someone would be at for each of the behaviours and characteristics. Participants (N=57; behaviour change / other specialists (N=29); virologists/ epidemiologists (N=11); medical professionals (N=17)) were asked to (a) indicate the level of risk performance / non performance of the behaviours / characteristics would result in and (b) their level of confidence in their estimate (low .33, medium .66 , high 1). For part (a) they could use the initial risk estimates provided by the experts (i.e., virologists, epidemiologists), their own specialist knowledge, advice from other sources (e.g., government guidelines) or the academic literature (they were asked to indicate the source they used).</p>
      </div>
    </div>
    <br/>

    <div class="row">
      <div class="col-lg-12 col-md-12">
        <p data-i18n="[html]risk_expert2_text2">The results were collated and initial results were weighted by confidence (a sensitivity analysis was conducted to determine if the weighting for confidence was correct - it was). The highest rated risks were the same as the preliminary survey of virologists / epidemiologists. The results did not differ by field or expertise (experts (virologists, epidemiologists) vs other professions) or by source of knowledge (this did not differ between groups) therefore it was decided to use all the data in the risk estimate. The results of these analyses are available at <a href="https://your-risk.com/v1-risk-estimation-survey-2-results" target="_blank">https://your-risk.com/v1-risk-estimation-survey-2-results</a>.</p>
      </div>
    </div>
    <br/>

    <div class="row">
      <h4 class="col-lg-12 text-center text-white mt-2" data-i18n="[html]risk_design_heading">Designing the Risk Estimate</h4>
      <br/>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12">
        <p data-i18n="[html]risk_design_text1">The risk estimates were to be presented in categories and we consulted with behaviour change experts about the number of categories. Three to five active categories were determined by behaviour change experts to be optimal to be easily understandable. A larger number of categories is good when you want to be able to track a change in results; however, (a) the tool was unlikely to be used for this and (b) too many categories can lead to confusion. A low number of categories may result in many people getting the same results which could be seen as inaccurate if comparison occurs. The consultation also found that the lowest level is interpreted as low or no risk therefore we decided that the highest and lowest categories would be unobtainable (so we would not induce excessive fear or complacency, respectively). We compared the results for a total of five and six categories (of which three and four would be attainable, respectively). The vignettes used in the initial testing of the risk model were adapted (to ensure all questions could be answered) and reused to answer the risk estimate questions. Two additional “people” were added (Minnie - with the minimal possible risk and Max - with the maximum possible risk) to give the full range of scores. Each of the vignettes was scored by two people and the scores on the research estimate questions corresponded to our qualitative assessment of the people in the vignettes. We established that three attainable categories left too little room for variation, and decided to use four attainable categories, for a total of six.</p>
      </div>
    </div>
    <br/>

    <div class="row">
      <div class="col-lg-12 col-md-12">
        <p data-i18n="[html]risk_design_text2">The risk estimate was determined to be due to three things “risk of getting virus” (i.e., from proximity; social isolation), “risk from not removing the virus from your body” (i.e., from handwashing) and uncontrollable factors (e.g, demographics). The demographic factors (i.e., country, gender, age, occupation) could mean that someone felt they could do no more to effect their personal risk so this was to be presented as “protect yourself”  (i.e., if you were at high risk) or “protect others” (i.e., if you were at low risk). A visual image of these three things was decided to be appropriate for ease of understanding (e.g., an avatar of someone surrounded by virus) and a speed gauge for the demographic factors to show the reason for changing behaviour.</p>
      </div>
    </div>
    <br/>

    <div class="row">
      <div class="col-lg-12 col-md-12">
        <p data-i18n="[html]risk_design_text3">The design choices were discussed with a larger team of volunteers and it was decided that one image for each type of risk (i.e., getting, removing, self/others) was to be presented with a scale to indicate risk category. Six categories were agreed upon (4 active) and captions and text were written. This was piloted with and outside of the volunteers to ensure this was easily understandable.</p>
      </div>
    </div>
    <br/>


	
  </div>
</section>